# Compiled class file
*.class

# Log file
*.log

# BlueJ files
*.ctxt

# Mobile Tools for Java (J2ME)
.mtj.tmp/

# Package Files #
*.jar
*.war
*.nar
*.ear
*.zip
*.tar.gz
*.rar

# virtual machine crash logs, see http://www.java.com/en/download/help/error_hotspot.xml
hs_err_pid*
replay_pid*
/lib
/12

/javafx-sdk-23.0.2

/my-javafx-runtime

*.exe

loop.txt
log.txt
versi.txt
bruteforce_.txt
bruteforce_bitset.txt
gui.txt
MANIFEST.MF

*.bat

*.tmp
*.docx

Tucil1_K1_13523042_Abdullah Farhan_2.pdf